
body {
	background-color: #ffffff;
}

#me {
	border-radius: 100%;
	margin: auto;
	display: block;
	float: bottom;
	padding: 10px;
}

#swim {
	margin: auto;
	display: block;
	float: right;
	padding: 10px;
}

#cards {
	margin: auto;
	display: block;
	float: right;
	padding: 10px;
}

#stocks {
	margin: auto;
	display: block;
	float: right;
	padding: 10px;
}


.container {
	background-color: #0e0f0f;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: Fira Sans, sans-serif;

}

.move-pic {
	float: right;
	margin-left: 0 0 20px 20px;
}

.header {
	padding: 20px;
	background-color: #0e0f0f;
	color: #ffffff;
	text-align: center;
}

.content {
	padding: 10px;
}

.nav {
	margin-top: -15.3%;
	width: 175px;
	float: left;
	padding: 10px;
	background-color: #ffffff;
	margin-left: 20px;
	position: fixed;
	border-radius: 8px;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	color: #0e0f0f;
	font-size: 25px;
	line-height: 200%;
}

.main {
	width: 860px;
	margin-right: 55px;
	float: right;
	color: #ffffff;
	margin-bottom: 75px;
	line-height: 150%;
}

.main2 {
	width: 860px;
	margin-right: 55px;
	float: right;
	color: #ffffff;
	margin-bottom: 75px;
	line-height: 150%;
}

.main3 {
	width: 860px;
	margin-right: 55px;
	float: right;
	color: #ffffff;
	margin-bottom: 75px;
	line-height: 150%;
}

h1 {
	margin: 0;
	color: #ffffff;
	font-size: 40px;
}
h2 {
	margin: 0;
	color: #0e0f0f;
	font-size: 30px;
}

h3, h4, h5 {
	margin: 0;
	color: #ffffff;
	font-size: 30px;
	font-weight: lighter;
}

.footer {
	clear: both;
	text-align: right;
	padding: 10px;
	background-color: #0e0f0f;
	color: #ffffff;
}

.search-box {
	position: absolute;
	top: 4%;
	left: 11%;
	transform: translate (-50%, -50%);
	background: #0e0f0f;
	height: 30px;
	border-radius: 30px;
	padding: 10px;
}

.search-box:hover > .search-txt {
	width: 120px;
	padding: 0 6px;
	transition: 0.4s;
}

.search-btn {
	color: #ffffff;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #0e0f0f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #ffffff;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}

a {
	text-decoration: none;
	color: #0e0f0f;
}

#navig {
	background-color: #ffffff
}

#navig:hover {
	background-color: #57E8EA;
	transition: 0.5s;
}

#hyperlink {
	color: #ffffff;
}

#hyperlink:hover {
	color: #57E8EA;
	transition: 0.5s;
}

.main ul {
	line-height: 200%
}
